@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Outfit', sans-serif;
  line-height: 1.4;
}

:root {
    --color-bg: #F8F8F8;
    --color-primary: #FFCC70;
    --color-secondary: #7098FF;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}

.primaryBgColor {
  background-color: #FFCC70;
}

.primaryColor {
  color: #FFCC70;
}

.secondaryColor {
  color: #7098FF;
}

.secondaryBgColor {
  background-color: #7098FF;
}

.mainBgColor {
  background-color: #F8F8F8;
}

.defaultButton {
  background-color: white;
}

.button {
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.button.active-button {
  background-color: #FFCC70;
}

/* .border{
  border: 1px solid;
  border-radius: 0.3rem;
} */

html {
  scroll-behavior: smooth;
}

