/* .loginContainer{
    justify-content: center;
    display: flex;
    text-align: center;
}

.loginContainer > div {
    border: solid var(--color-primary);
    border-radius: 0.5rem;
    padding: 2.4rem 4.5rem;
} */